<ion-content class="covid-detail-countries">
    <div class="covid-detail-countries__back" (click)="back()"></div>
    <div class="covid-detail-countries__title">
        Países
    </div>

    <div class="content-summary" *ngFor="let item of countries">
    <div class="content-summary__content">
        <div class="content-summary__content__label">{{item.Country}}</div>

          <img class="content-summary__content__icon-flag" [src]="'https://flagcdn.com/'+item.CountryCode.toLocaleLowerCase()+'.svg'"/>

    </div>

        <div class="content-summary__detail">
            <div class="content-summary__detail__item">
                <div class="content-summary__detail__title">Total de casos</div>
                <div class="content-summary__detail__total">{{item.TotalConfirmed}}</div>
                <div class="content-summary__detail__new">+{{item.NewConfirmed}}</div>
            </div>
            <div class="content-summary__detail__item">
                <div class="content-summary__detail__title">Recuperados</div>
                <div class="content-summary__detail__total">{{item.TotalRecovered}}</div>
                <div class="content-summary__detail__new">+{{item.NewRecovered}}</div>
            </div>
            <div class="content-summary__detail__item">
                <div class="content-summary__detail__title">Muertes</div>
                <div class="content-summary__detail__total">{{item.TotalDeaths}}</div>
                <div class="content-summary__detail__new">+{{item.NewDeaths}}</div>
            </div>
        </div>
    </div>
</ion-content>
