.covid-detail-countries {
    &__title {
        font-family: OpenSans;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.5;
        color: #10133d;
        margin-left: 16px;
    }
}
