<ion-content class="covid-detail-countries">
    <div class="covid-detail-countries__back" (click)="back()"></div>
    <div class="covid-detail-countries__title">
        Países
    </div>

    <div class="content-summary">
    <div class="content-summary__content">
        <div class="content-summary__content__label">Colombia</div>

          <img class="content-summary__content__icon-flag" src="https://flagcdn.com/co.svg" alt="">

    </div>

        <div class="content-summary__detail">
            <div class="content-summary__detail__item">
                <div class="content-summary__detail__title">Total de casos</div>
                <div class="content-summary__detail__total">5.593.728</div>
                <div class="content-summary__detail__new">+550</div>
            </div>
            <div class="content-summary__detail__item">
                <div class="content-summary__detail__title">Recuperados</div>
                <div class="content-summary__detail__total">5.593.728</div>
                <div class="content-summary__detail__new">+550</div>
            </div>
            <div class="content-summary__detail__item">
                <div class="content-summary__detail__title">Muertes</div>
                <div class="content-summary__detail__total">5.593.728</div>
                <div class="content-summary__detail__new">+550</div>
            </div>
        </div>
    </div>

</ion-content>
