.covid-detail-countries {
    &__back {
        background-image: url(../../assets/icon/back-icon.svg);
        background-repeat: no-repeat;
        width: 60px;
        height: 30px;
        margin: 28px 16px 16px 16px;
    }
    &__title {
        font-family: OpenSans;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.5;
        color: #10133d;
        margin-left: 16px;
        margin-bottom: 16px;
    }
    .content-summary {
        padding: 16px 23px 16px 16px;
        border-radius: 12px;
        --webkit-backdrop-filter: blur(30px);
        box-shadow: 0 0 6px 0 rgba(50, 51, 51, 0.1);
        background-color: var(--color-white);
        margin: 16px;
        &__content {
            display: flex;
            justify-content: space-between;
            &__label {
                font-family: OpenSans;
                font-size: 16px;
                font-weight: bold;
                line-height: 1.5;
                color: #10133d;
            }
            &__icon-flag {
                width: 24px;
                height: 24px;
                border-radius: 12px;
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            }
        }
        &__detail {
            margin-top: 8px;
            display: flex;
            justify-content: space-between;
            &__item {
                border-left: solid 1px #eae8f3;
                padding-right: 12px;
                padding-left: 12px;
                &:last-child {
                    border-right: none;
                    padding-right: 0;
                    &:first-child {
                        padding-left: 12px;
                    }
                }
                &__title {
                    font-family: OpenSans;
                    font-size: 14px;
                    line-height: 1.36;
                    color: #333333;
                }
                &__total {
                    font-family: OpenSans;
                    font-size: 16px;
                    line-height: 1.5;
                    color: #10133d;
                }
                &__new {
                    font-size: 12px;
                    line-height: 1.42;
                    color: #5c5c5c;
                }
            }
        }
    }
}
