<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-icon"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="hospital-icon"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="global-icon"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="detail-countries">
      <ion-icon name="news-paper-icon"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="phone-icon"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
