<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon src="../../assets/icon/home-icon.svg"></ion-icon>
        </ion-tab-button>

         <ion-tab-button tab="tab2">
            <ion-icon src="../../assets/icon/hospital-icon.svg"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="tab3">
            <ion-icon src="../../assets/icon/global-icon2.svg"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="noticias">
            <ion-icon src="../../assets/icon/news-paper-icon.svg"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="telefonos">
            <ion-icon src="../../assets/icon/phone-icon.svg"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
