<ion-content class="tab2.page">
  <div class="covid-prevencion__title">
    Prevención
  </div>
  <div class="covid-prevencion__back">
    <div class="covid-prevencion__back__rectangulo">
      <img id="centrar" src="../../assets/icon/lavate.svg" />Lavate las manos
    </div>
    <div class="covid-prevencion__back__rectangulo">
      <img id="centrar" src="../../assets/icon/tapabocas.svg" />Usa tapabocas
    </div>
    <div class="covid-prevencion__back__rectangulo">
      <img id="centrar" src="../../assets/icon/demas.svg" />Cuida a los más vulnerables
    </div>
    <div class="covid-prevencion__back__rectangulo">
      <img id="centrar" src="../../assets/icon/casa.svg" />Quedate en casa
    </div>
  </div>
</ion-content>
