<ion-content class="covid-home">
    <div class="header">
        <input class="header__input" placeholder="Buscar" />
        <div class="header__title">
            Resumen
        </div>
    </div>

    <div class="content-summary">
        <div class="content-summary__icon-global"></div>
        <div class="content-summary__detail">
            <div class="content-summary__detail__item">
                <div class="content-summary__detail__title">Total de casos</div>
                <div class="content-summary__detail__total">5.593.728</div>
                <div class="content-summary__detail__new">+550</div>
            </div>
            <div class="content-summary__detail__item">
                <div class="content-summary__detail__title">Recuperados</div>
                <div class="content-summary__detail__total">5.593.728</div>
                <div class="content-summary__detail__new">+550</div>
            </div>
            <div class="content-summary__detail__item">
                <div class="content-summary__detail__title">Muertes</div>
                <div class="content-summary__detail__total">5.593.728</div>
                <div class="content-summary__detail__new">+550</div>
            </div>
        </div>
    </div>

    <div class="col-summary">
        <div class="col-summary__box">
            <img class="col-summary__box__flag" src="https://flagcdn.com/co.svg" alt="">
            <div class="col-summary__box__title">Total de casos</div>
            <div class="col-summary__box__total">11.613</div>
            <div class="col-summary__box__new">+550</div>
        </div>
        <div class="col-summary__box">
            <img class="col-summary__box__icon" src="../../assets/icon/icon1.svg" alt="">
            <div class="col-summary__box__title">Recuperados</div>
            <div class="col-summary__box__total">11.613</div>

        </div>
        <div class="col-summary__box">
            <img class="col-summary__box__icon" src="../../assets/icon/icon2.svg" alt="">
            <div class="col-summary__box__title">Muertes</div>
            <div class="col-summary__box__total">11.613</div>
            <div class="col-summary__box__new">+550</div>
        </div>
    </div>

    <div class="countries-title">
        <div class="countries-title__label">
            Top Países
        </div>
        <div class="countries-title__link">
            Ver todos
        </div>

    </div>

    <div class="countries">
        <div class="countries__box">
            <img class="countries__box__flag" src="https://flagcdn.com/co.svg" alt="">
            <div class="countries__box__label">
                Italy
            </div>
            <div class="countries__box__new">
                +1.500
            </div>
        </div>
        <div class="countries__box">
            <img class="countries__box__flag" src="https://flagcdn.com/co.svg" alt="">
            <div class="countries__box__label">
                Italy
            </div>
            <div class="countries__box__new">
                +1.500
            </div>
        </div>
        <div class="countries__box">
            <img class="countries__box__flag" src="https://flagcdn.com/co.svg" alt="">
            <div class="countries__box__label">
                Italy
            </div>
            <div class="countries__box__new">
                +1.500
            </div>
        </div>
    </div>
</ion-content>
