<ion-content class="tab3.page" fullscreen>
  <div class="covid-sintomas__title">Síntomas</div>
  <div class="covid-sintomas__back"></div>

  <div class="content-sintomas">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <div class="content-sintomas__circulo">
            <img class="img" src="../../assets/icon/fiebre.svg" />
          </div>
          <div class="text">FIEBRE</div>
        </ion-col>
        <ion-col>
          <div class="content-sintomas__circulo">
            <img class="img" src="../../assets/icon/tos_seca.svg" />
          </div>
          <div class="text">TOS SECA</div>
        </ion-col>
        <ion-col>
          <div class="content-sintomas__circulo">
            <img class="img" src="../../assets/icon/dolor_garganta.svg" />
          </div>
          <div class="text">DOLOR DE GARGANTA</div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="content-sintomas__circulo">
            <img class="img" src="../../assets/icon/problemas_respiratorios.svg" />
          </div>
          <div class="text">PROBLEMAS RESPIRATORIOS</div>
        </ion-col>
        <ion-col>
          <div class="content-sintomas__circulo">
            <img class="img" src="../../assets/icon/congestion_nasal.svg" />
          </div>
          <div class="text">CONGESTION NASAL</div>
        </ion-col>
        <ion-col>
          <div class="content-sintomas__circulo">
            <img class="img" src="../../assets/icon/diarrea.svg" />
          </div>
          <div class="text">DIARREA</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
