.covid-telefonos {
    &__title {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.5;
        color: #10133d;
        margin: 17px 28px 10px 10px;
    }
}

.letra {
    text-align: right;
    color: #0078FF;
    padding-right: 7%;
    font-weight: normal;
    font-weight: bold;
}

.encabezado {
    text-align: left;
    font-size: large;
    font-weight: normal;
    font-weight: bold;
}